<h2>{{student.name}}'s Details</h2>

<div class="card">
  <img src="assets/image/img_avatar.png" alt="Avatar" style="width:35%">
  <div class="container">
    <h4><b>Name: {{ student.name }}</b></h4>
    <!--<p>StudentId: {{students.id}}</p>-->
    <!--<p>Branch: {{students.branch}}</p>-->
    <!--<p>Address: {{students.address}}</p>-->
    <!--<p>CGPA: {{students.cgpa}}</p>-->
    <p>Email: {{student.email}}</p>
    <p>Phone: {{student.phone}}</p>
    <!--<p>Landline: {{students.landline}}</p>-->
  </div>
</div>
