<app-navbar></app-navbar>
<br>
<table>
  <th>StudentId</th>
  <th>Name</th>
  <th>Branch</th>
  <!--<th>CGPA</th>-->
  <!--<th>Details</th>-->
  <!--<th>Update Details</th>-->
  <!--<th>Add Student</th>-->
  <!--<th>Delete Student</th>-->
  <!--<tr *ngFor="let students of student">-->
  <!--<td>{{ students.id }}</td>-->
  <!--<td>{{ students.name }}</td>-->
  <!--<td>{{ students.branch }}</td>-->
  <!--<td>{{ students.cgpa }}</td>-->
  <tr *ngFor="let student of students">
    <td>{{ student.id }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.branch }}</td>
    <!--<td>{{ student.cgpa }}</td>-->
    <!--<td><button class="button1" (click)="sendId(student.id)" routerLink="showStudentDetails" routerLinkActive="active">Details</button></td>-->
    <!--<td><button class="button1" (click)="sendId(student.id)" routerLink="updateStudentDetails" routerLinkActive="active">Update Details</button></td>-->
    <!--<td><button class="button1" routerLink="addStudent" routerLinkActive="active">Add Student</button></td>-->
    <!--<td><button class="button1" (click)="deleteStudent(student.id)" routerLinkActive="active">Delete Student</button></td>-->
  </tr>
</table>
<br>
<div class="card text-center">
  <!--<div class="card-header">-->
    <!--Add Students-->
  <!--</div>-->
  <div class="card-body">
    <h5 class="card-title">Add Students</h5>
    <p class="card-text">If you want to add Students to particular course . Please Click here</p>
    <button class="btn btn-dark stretched-link" (click)="addStudentToCourse()">Show Students To Be Added</button>
  </div>
  <div class="card-footer text-muted">
    Total Students Enrolled in the course: {{totalStudents}}
  </div>
</div>

